<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Tunemelt Assinment Benjamin Cerigo</title>
	<meta name="description" content="">
	<meta name="author" content="Benjamin Cerigo">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	

	
</head>
<body>
	
<div id="container">
 



  <div id="page">
    Loading....
  </div>

</div> 
<!-- Templates -->

<script type="text/template" id='tpl_userdetail'>
<div class='user-detail'>
	<img src='<%= img %>'></img>
	<h2 class ='user-title'><%= name %></h2>
	<div>
		<% for(key in obj){  console.log(key);if(!(key == 'name' || key == 'id' || key == 'img')){ console.log(key);%>
		<div class='user-item'>	
				<span><%= key %>:</span>
				<span><%=obj[key] %></span>
		<div>
		<% };} %>
	<div>
</div>
</script>

<script type="text/template" id='tpl_userlist'>

	
	<a href='#<%= id %>'>
	<div>
		
		<img src='<%= img %>'></img>

		
		<div>
			<table class='user-item-table'>
				<tr>
					<td>
						<span><%= name %></span>
					</td>
				</tr>
				<tr>
					<td>
						<span><%=city %></span> &ndash;
						<span><%=venue %></span>
					</td>
				</tr>
			</table>
			
		</div>
	</div>


	</a>

</script>

<script type="text/template" id='tpl_usercollection'>
	<div id='contactlist-container'></div>
</script>

<!-- JavaScript -->
<script src="js/jquery-1.11.1.min.js"></script>
	<script src="./js/underscore.js"></script>
	<script src="./js/backbone.js"></script>
	<script type="text/javascript" src="./js/backbone-relational.js"></script>
	<script src="./js/main.js"></script>

</body>
</html>
